.projects-container {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  justify-content: center;
}

.project {
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.project-placeholder {
  border-radius: 0.3rem;
  min-height: 180px;
  min-width: 270px;
  background-color: #D8D9CF;
}
