.projects-container {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  justify-content: center;
}

.projects-container a {
  min-height: auto;
  min-width: auto;
  color: var(--text-color-2);
  background-color: var(--tab-color);
  border-radius: 0.2rem;
  flex-basis: 30%;
}

.projects-container a:hover {
  background-color: var(--pop-color-2);
  color: var(--text-color-1);
}

.project {
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.anchor-container {
  min-width: 70%;
  display: flex;
  justify-content: space-between;
}

.anchor-container > a {
  text-align: center;
}
