.skills {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  min-width: 50%;
  display: flex;
  flex-direction: column;
}

.knowledge {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 865px) {
  .skills {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .knowledge {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}
